.fab-container {
    position: fixed;
    bottom: 35px;
    right: 45px;
    z-index: 1000;
}

.fab-main {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #355E3B;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.fab-main:hover {
    transform: scale(1.1);
    background-color: #06402B;
}

.fab-buttons {
    position: absolute;
    bottom: 70px;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.fab-buttons.show {
    display: flex;
    animation: fadeIn 0.3s;
}

.fab-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s;
}

.fab-button:hover {
    transform: scale(1.1);
    background-color: #e8e7e7;
    color: white;
}
